{% extends 'base.html.twig' %}

{% block title %}Show blog posts{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Blog posts list</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-primary" href="{{ path('add_blog_post') }}">
                    Add new post on blog
                </a>
            </div>
            <div class="card-body">
                <h5 class="card-title">Total number of posts: {{ paginator.getTotal }}</h5>
                <table class="table table-bordered">
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Content</th>
                        <th>Image</th>
                        {#                        <th>Date Created</th> #}
                    </tr>
                    {% if paginator.items|length > 0 %}
                        {% for post in paginator.items %}
                            <tr>
                                <td>{{ post.id }}</td>
                                <td>{{ post.title }}</td>
                                <td>{{ post.content }}</td>
                                <td>{{ post.image }}</td>
                                {#                            <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td> #}
                            </tr>
                        {% endfor %}
                    {% endif %}
                </table>
                {% if paginator.items is empty %}
                    <h5>No posts in blog.</h5>
                {% endif %}
            </div>
        </div>
    </div>

    {% include 'paginator.html.twig' %}

{% endblock %}